 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h4>The Digital Methods</h4>
                </div>
            </div>
            <div class="image-logos">
              <h4>Picketty</h4>
              <img src="Piketty.png" class="piketty">
              <h4>PlayFair</h4>
              <img src="william-playfair-wheat-original.jpg" class="playfair">
              <img src="openrefine.png" class="openrefine">
              <img src="tableau_logo.jpg" class="tableau">
              <img src="Excel_logo.jpg" class="excel">
              <img src="nodejs-logo.jpeg" class="node">
              <span class="raw"><b>RAW</b></span>
              <p class="thanks text-center">Special thanks to Jay R. Ritter for his comprehensive Tech IPO Data and
                 David B. Zwiefelhofer for his <span><a href="http://www.findlatitudeandlongitude.com/batch-geocode/#instructions">batch geocoder</a></span>
              </p>

                </div>
            </div>
        </div>
    </section>
