 <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Historical Inquiry</h2>
                </div>
                <br>
                <br>
        <ul class="questions text-center">
        <br>
        <li>What has happened to the relationship of capital between Silicon Valley and Wall Street?</li>
        <br>
        <li>How has venture capital transformed over the recent decades?</li>
        <br>
        <li>How can data of successful tech IPOs help us understand what happened in the Y2K tech bubble?</li>
        <br>
        <li>What do the trends of capital for successful Y2K tech companies versus those of today show?</li>
        <br>
        <li> Why may our current tech zeitgeist be different than the Y2K bubble?</li>
        <br>
        <li>What do the locations of successful tech IPOs show us?</li>
        <br>
        <li>How have we blended digital methods and historical analysis to find a novel conclusions or better support prevous ones? </li>
        <br>
      </ul>

      <u>What is Venture Capital?</u><br/>

      <br/>

      Venture Capital is a form of investment distinguished by the large amount of risk it is willing to assume. In this way, venture capital is most needed in highly volatile industries. Yet a smart investor will only assume great risk if the potential rewards are equally great; thus they will only enter a volatile industry if there are ample opportunities for business development. The first industry to be so volatile, yet so promising, as to entice venture capital was <i>high technology</i>. Thus venture capital first emerged in Boston and Palo Alto, building upon the technological innovations of World War II, capitalizing upon the opportunities offered by Cold War military and space programs (Kenney and Florida, 103).<br/>

      <br/>

      Venture Capitalists assisted in the development of technology industries in two ways. First, it provided capital where capital was scarce. Second, it provided managerial oversight to these fledgling companies, giving advice based on previous experience, and introducing them to crucial business contacts. In other words, venture capitalists addressed risk and uncertainty by involving themselves personally in company affairs, very often sitting on the board of directors.<br/>

      <br/>

      For these reasons, historical, sociological, and financial analyses of the technology industry, and of Silicon Valley in particular, have lauded venture capital, assigning it an indispensable role in technological innovation and economic growth. (Kenney and Florida 2000, Gompers and Lerner 2001,  Chang 2004, Barry et al 1990). <br/>

      <br/>

      <u>What About The Bubble?</u><br/>

      <br/>

      The esteem in which scholarly literature holds venture capital begs the question: What were they doing during the bubble? If venture capital provides capital where it is scarce, doesn't it become irrelevant in a world where technology ventures can get more funding than they know what to do with? If they are supposed to provide oversight to guarantee success, why did so many dot.coms fail miserably?<br/>

      <br/>

      In fact, the venture capital industry of the late 1990s was a far cry from the original private equity funds of the '50s and '60s. We will argue that the rapid growth of venture capital from the late '70s to the early '90s, served to weaken the original distinction between venture capital and more traditional investment banking. By the time dot com mania took over, venture capital was hardly an alternative to investment banks and public stock markets; it was merely a stepping stone, or a pipeline, that could outfit a new business idea with the minimal preparation necessary to access even larger pools of capital.<br/>

      <br/>

      <u>The Transformation of Venture Capital</u><br/>

      <br/>

      By the end of the 1970s, the venture capital industry had established its legitimacy, and soon welcomed a flood of capital, from pension funds looking for consistently high returns, from East Coast banks who had exchanged wariness for voracity, and of course, from capital gains on precious venture capital investments. By the end of the 1980s, the venture capital scene in Silicon Valley was dominated by so-called “megafunds” (Kenney and Florida, 117).<br/>

      <br/>

      The consequence of this shift towards megafunds was twofold. <br/>

      <br/>

      First of all, with the growth of funds came a new urgency to invest and see returns on that money. As a result, venture capitalists were too busy finding and securing new investments to spend much time on the companies they had already invested in. In this way they lost their first original distinction, the oversight and managerial support they brought to companies; by 1988, Arthur Rock ( who backed Fairchild Semiconductor in 1957) complained that venture capitalists had become “more portfolio managers than actually venture capitalists” (Kenney and Florida 117). <br/>

      <br/>

      Secondly, this glut of capital reversed the second defining characteristic of venture capital, its offer of capital in a capital scarce environment. In fact, capital was in such abundance that opportunities were in relative scarcity; where entrepreneurs had once accepted funding from any and all interested investors (who would then cooperate in growing the company), venture capitalists now had to compete to get in on deals. This competition in turn artificially inflated the market valuation of tech companies (Kenney and Florida 121; also Gompers and Lerner, 158).<br/>

      <br/>

      In both of these ways, the original distinction between venture capital and investment banking was blurred. It is therefore not surprising the two would become ready bedfellows during the Dot Com Bubble.<br/>

      <br/>

            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                </div>
            </div>
        </div>
    </section>
